#openingTimes {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#openingTimes td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#openingTimes tr:nth-child(even){background-color: #f2f2f2;}

#openingTimes tr:hover {background-color: #ddd;}

#openingTimes th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}
