<!DOCTYPE html>
<html>
<body>

<h2>About Page</h2>

<br><br>

<h3>Opening Times</h3>

<br><br>

<table>
  <tr>
    <th>Day</th>
    <th>Times</th>
  </tr>
  <tr>
    <td>Monday</td>
    <td>10am-10pm</td>
  </tr>
  <tr>
    <td>Tuesday</td>
    <td>10am-10pm</td>
  </tr>
  <tr>
    <td>Wednesday</td>
    <td>10am-10pm</td>
  </tr>
  <tr>
    <td>Thursday</td>
    <td>10am-10pm</td>
  </tr>
  <tr>
    <td>Friday</td>
    <td>10am-11pm</td>
  </tr>
  <tr>
    <td>Saturday</td>
    <td>9am-11pm</td>
  </tr>
  <tr>
    <td>Sunday</td>
    <td>11am-5pm</td>
  </tr>
</table>
<br>
<p>Please note that times may vary during seasonal events and bank holidays.</p>

<h3>Contact Details</h3>
<p>Email: qacinemas@support.qacinemas.com <br>
  Contact Number: 01308 468491 (available during open hours)</p>
</body>
</html>
